.form {
    position: absolute;
    top: 13cm;
    left: 5cm;
    transform: translateY(-50%);
    width: 50%;
  }
  
  form {
    padding: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid gray;
    border-radius: 5px;
  }
  
  button.btn {
    background-color: rgb(248, 172, 7);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  @media (max-width: 740px) {
    .form {
      width: 100%;
      max-width: 400px;
      margin-left: -150px;
      margin-top: 50px;
    }
  
    .form input,
    .form textarea {
      margin-bottom: 10px;
    }
  
    .form button.btn {
      margin-top: 10px;
      margin-left: 140px;
    }

  }