.form {
    position: absolute;
    top: 13cm;
    left: 5cm;
    transform: translateY(-50%);
    width: 50%;
  }
  
  form {
    padding: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: white;
  }
  
  input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid gray;
    border-radius: 5px;
  }
  
  button.btn {
    background-color: rgb(248, 172, 7);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

    /* For screens smaller than 600px */
@media (max-width: 600px) {
  .form {
    height: auto;
    left: 2.2rem;
    width: 70%;
    top: 38rem;
  }
  
  #form {
    height: 80%;
  }
  
  textarea {
    height: 100px;
  }
}

/* For screens between 600px and 900px */
@media (min-width: 600px) and (max-width: 900px) {
  .form {
    height: auto;
  }
  
  #form {
    height: 80%;
  }
  
  .label{
    color: white;
  }
  textarea {
    height: 150px;
  }
}

/* For screens larger than 900px */
@media (min-width: 900px) {
  .form {
    height: auto;
  }
  
  #form {
    height: 70%;
  }
  
  textarea {
    height: 200px;
  }
}