.hero-section {
  background-color: rgb(123, 209, 238);
  background-size: contain;
  height: 270vh;
}

.content {
  width: 100%;
  padding: 1rem;
  text-align: left;
}

.navbar {
  color: black;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
}
.copyright {
  position: relative;
  left: -47%;
  bottom: 150%;
}
.socials {
  position: relative;
  left: 20px;
  bottom: 1cm;
}
.about-me {
  text-align: center;
}
.about-me h2 {
  font-size: 2rem;
  margin-bottom: 130rem;
  position: relative;
  top: 2cm;
  text-decoration: underline;
}
.about-me p{
  font-size: 1.2rem;
  line-height: 1.5;
  color: black;
  margin-bottom: 10rem;
}
.journey {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-left: -17%;
}
.journey h3 {
  font-size: 2rem;
  position: relative;
  bottom: 47cm;
  left: 8%;
}
.techlink {
  font-size: 1.2rem;
  color: black;
  text-align: left;
  position: relative;
  top: -52cm;
  left: -7%;
  
}
.techlink p1{
  font-size: 1.2rem;
  position: relative;
  top: 5cm;
  color: rgb(253, 207, 3);
  left: 10%;
}
.techlink p2{
  font-size: 1.2rem;
  position: relative;
  top: 5cm;
  left: 20%;
  color: rgb(253, 207, 3);
}
.techlink p3 {
  font-size: 1.2rem;
  display: flex;
  position: relative;
  top: 5.5cm;
  left: 10%;
  text-align: left;
  align-items: left;
}
.apollo {
  font-size: 1.2rem;
  position: absolute;
  top: 13cm;
  text-align: left;
  align-items: left;
  left: 7%;
  right: 1%;
}
.apollo p1 {
  font-size: 1.2rem;
  position: relative;
  top: 1.5cm;
  color: rgb(253, 207, 3);
  left: -1.5%;
}
.apollo p2 {
  font-size: 1.2rem;
  position: relative;
  top: 1.5cm;
  left: 4%;
  color: rgb(253, 207, 3)
}
.apollo p3 {
  font-size: 1.2rem;
  position: relative;
  top: 2cm;
  align-items: left;
  display: flex;
  left: -1rem;
}
.stepwise {
  font-size: 1.2rem;
  position: absolute;
  top: 18cm;
  align-items: left;
}
.stepwise p1 {
  font-size: 1.2rem;
  position: relative;
  color:rgb(253, 207, 3);
  left: -32%;
}
.stepwise p2 {
  position: relative;
  left: -26%;
  color:rgb(253, 207, 3);
}
.stepwise p3 {
  position: relative;
  align-items: left;
  display: flex;
  left: 7%;
  text-align: left;
  top: 0.6cm;
}
.subsahara {
  font-size: 1.2em;
  position: absolute;
  display: flex;
  top: 21.5cm;
  left: 5.5%;
}
.subsahara p1 {
  position: relative;
  color:rgb(253, 207, 3);
}
.subsahara p2 {
  position: relative;
  color:rgb(253, 207, 3);
  left: 11%;
}
.subsahara p3{
  font-size: 1.2rem;
  display: flex;
  position: relative;
  top: 1cm;
  left: -80%;
  text-align: left;
  align-items: left;
}
.tooltip {
  position: absolute;
  font-size: 12px;
  transform: translateX(-50%);
  padding: 5px 10px;
  top: -4px;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
}
.title-text {
  font-size: 2rem;
  top: -1rem;
  position: relative;
}
.skillscontainer {
  position: absolute;
  cursor: pointer;
  top: 24cm;
  width: 70%;
  align-items: center;
  left: 10%;
  margin: 50px 20px;
}
.skillsbar {
  flex: 4;
  height: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
  position: relative;
  left: 2%;
  align-items: left;
  text-align: center;
  padding: 8px 0;
  margin: 5px 0;
}
.skills-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.skills-per {
  display: block;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background: greenyellow;
}

.skills-per.computing {
  width: 95%;
  background-color: #4CAF50;
}

.skills-per.security {
  width: 95%;
  background-color: #008CBA;
}

.skills-per.python {
  width: 90%;
  background-color: #FFC107; 
}

.skills-per.javascript {
  width: 85%;
  background-color: #FF5733; 
}

.skills-per.networking {
  width: 86%;
  background-color: #9B59B6; 
}

.skills-per.php {
  width: 90%;
  background-color: #FF4D4D; 
}

.skills-per.html {
  width: 90%;
  background-color: #2ECC71; 
}

.skills-per.bootstrap {
  width: 80%;
  background-color: greenyellow; 
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  position:absolute;
  left: 2cm;
  right: 2cm;
  top: 60%;
}
.certifications {
  position: absolute;
  top: 170%;
  align-items: center;
}
.certifications h5{
  font-size: 2rem;
  top: 4rem;
  position: relative;
}
.certifications p5 {
  font-size: 1.2rem;
  position: relative;
  display: flex;
  top: 5rem;
  left: 70px;
}
.card {
  border: 1px solid #ccc;
  flex-direction: column;
  background-color: rgb(41, 151, 41);
  padding: 20px;
  flex-basis: 20%;
  width: 300px;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}
.card:hover {
  box-shadow: 0 0 25px rgb(253, 207, 3);
  transform: translateY(-5px);
}
.word {
  display: flex;
  bottom: 20%;
  position: relative;
  width: 100%;
  align-items: left;
}
.word p {
  font-size: 1.4rem;
  position: relative;
  top: 31rem;
  align-items: center;
  display: flex;
  width: 200%;
  text-decoration: underline;
  font-weight: bold;
}
.word p4 {
  font-size: 1.2rem;
  position: relative;
  top: 35rem;
  width: 550%;
  left: -10%;
}
.word p5 {
  position: relative;
  top: 40rem;
  left: -30%;
}
@media screen and (max-width: 450px) {
  .socials {
    left: 0;
    margin-top: 1rem;
    text-align: center;
  }

  .copyright {
    position: relative;
    bottom: 1rem;
    left: 0;
  }

  .about-me h2 {
    font-size: 1.5rem;
    margin-bottom: 5rem;
  }

  .about-me p {
    font-size: 1rem;
    margin-bottom: 2rem;
    margin-left: -5rem;
    margin-right: 0.5rem;
  }
.journey{
  display: flex;
  margin-bottom: 35rem;
  top: 15cm;
  position: relative;
  opacity: none;
}
  .techlink {
    font-size: 1rem;
    top: 2cm;
    left: 1cm;
  }

  .techlink p1 {
    font-size: 1rem;
    top: 5cm;
  }

  .techlink p2 {
    font-size: 1rem;
    left: 2cm;
    top: 5cm;
  }

  .techlink p3 {
    font-size: 1rem;
    top: 6cm;
    left: 2cm;
    width: 200%;
  }

  .apollo {
    font-size: 1rem;
    left: 1cm;
    top: 10cm;
  }

  .apollo p1 {
    font-size: 1rem;
    top: 0;
    left: 0;
  }

  .apollo p2 {
    font-size: 1rem;
    left: 1cm;
    top: 0;
  }

  .apollo p3 {
    font-size: 1rem;
    top: 1cm;
    left: 1cm;
    width: 200%;
  }

  .stepwise {
    font-size: 1rem;
    left: 1cm;
    top: 15cm;
  }

  .stepwise p1 {
    font-size: 1rem;
  }

  .stepwise p2 {
    left: 1cm;
  }

  .stepwise p3 {
    top: 1cm;
    left: 1cm;
    width: 200%;
  }

  .subsahara {
    font-size: 1rem;
    left: 1cm;
    top: 20cm;
  }

  .subsahara p1 {
    font-size: 1rem;
  }

  .subsahara p2 {
    left: 1cm;
  }

  .subsahara p3 {
    top: 1cm;
    left: 1cm;
    width: 200%;
  }

}