.heroImg {
    height: 110vh;
}
p {
    display: flex;
    text-align: left;
    position: absolute;
    top: 3cm;
    left: 2.5cm;
}
.content h3{
    font-size: 2rem;
    text-decoration: underline;
    top: 1cm;
    position: relative;
}
.content p{
    font-size: 1.3rem;
}