.hero-section {
  background-color: #fff;
}

.heroImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #fff;
}

.content {
  width: 100%;
  padding: 1rem;
  text-align: left;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  background-color: rgba(19, 19, 19, 0.8);
  color: #fff;
  padding: 6rem 0;
  padding-left: 1rem;
}

.navbar {
  color: black;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
}

.img-stack {
  position: absolute;
  object-fit: initial;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-me {
  text-align: center;
}

.about-me h2 {
  font-size: 2rem;
  margin-bottom: 150rem;
  position: relative;
  top: -15cm;
  text-decoration: underline;
}

.about-me p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: black;
  margin-bottom: 10rem;
}

.journey {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.journey p1 {
  font-size: 1.1rem;
  font-weight: bold;
  color: rgb(3, 133, 255);
  line-height: 1.5;
  margin-top: -126cm;
  text-align: left;
  left: 3cm;
  position: absolute;
}

.journey::before {
  content: "";
  background-color: rgba(255, 0, 0, 0.5);
  width: 8.5cm;
  height: 100%;
  position: absolute;
  left: 2cm;
  top: 17cm;
  border-radius: 10px;
}

.journey p2 {
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: bold;
  margin-top: -126cm;
  text-align: left;
  position: absolute;
  left: 11cm;
}
.journey p3 {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: left;
  position: absolute;
  margin-top: -122cm;
  left: 11cm;
  right: 2cm;
}
.journey p4 {
  font-size: 1.1rem;
  font-weight: bold;
  color: rgb(3, 133, 255);
  line-height: 1.5;
  text-align: left;
  position: absolute;
  margin-top: -113cm;
  left: 3cm;
}
.journey p5 {
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: bold;
  text-align: left;
  position: absolute;
  margin-top: -113cm;
  left: 11cm;
}

.journey p6 {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: left;
  position: absolute;
  margin-top: -110cm;
  left: 11cm;
  right: 2cm;
}
  
.journey p7 {
  font-size: 1.1rem;
  font-weight: bold;
  color: rgb(3, 133, 255);
  line-height: 1.5;
  text-align: left;
  position: absolute;
  margin-top: -104cm;
  left: 3cm;
}

.journey p8 {
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: bold;
  text-align: left;
  position: absolute;
  margin-top: -104cm;
  left: 11cm;
}

.journey p9 {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: left;
  position: absolute;
  margin-top: -97cm;
  left: 11cm;
  right: 2cm;
}

.journey h3 {
  font-size: 2rem;
  padding: 30px;
  position: absolute;
  top: 15cm;
}
.profile {
  width: 400px;
  clip-path: circle();
  margin-left: 28cm;
  margin-top: 2cm;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  position:absolute;
  left: 2cm;
  right: 2cm;
  bottom: -51cm;
}

.card {
  border: 1px solid #ccc;
  flex-direction: column;
  padding: 20px;
  flex-basis: 20%;
  width: 300px;
  border-radius: 10px;
  margin: 10px;
}
.certifications h5 {
  font-size: 2rem;
  right: 45%;
  position: absolute;
  bottom: -40cm;
}
.certifications p5 {
  font-size: 1.2rem;
  left: 10%;
  bottom: -41cm;
  position: absolute;
}
.journey p11 {
  font-size: 1.2rem;
  font-weight: bold;
  color:rgb(65, 190, 82);
  bottom: -53cm;
  position: absolute;
}
.journey p12 {
  font-size: 1.1rem;
  bottom: -55cm;
  position: absolute;
  right: 3cm;
  left: 3cm;
}
.journey p13{
  font-size: 1.1rem;
  right: 17cm;
  position: absolute;
  bottom: -56cm;
}