.hero-section {
  background-color: rgb(123, 209, 238);
  background-size: contain;
  height: 330vh;
}

.content {
  width: 100%;
  padding: 1rem;
  text-align: left;
}

.navbar {
  color: black;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
}

.socials {
  position: relative;
  left: 150px;
  bottom: 1cm;
}

@media screen and (max-width: 400px) {
  .socials {
    left: 0;
    margin-top: 1rem;
    text-align: center;
  }

  .copyright {
    position: relative;
    bottom: 1rem;
    left: 0;
  }

  .about-me h2 {
    font-size: 1.5rem;
    margin-bottom: 5rem;
  }

  .about-me p {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .techlink {
    font-size: 1rem;
    top: 2cm;
    left: 1cm;
  }

  .techlink p1 {
    font-size: 1rem;
    top: 5cm;
  }

  .techlink p2 {
    font-size: 1rem;
    left: 2cm;
    top: 5cm;
  }

  .techlink p3 {
    font-size: 1rem;
    top: 6cm;
    left: 2cm;
    width: 200%;
  }

  .apollo {
    font-size: 1rem;
    left: 1cm;
    top: 10cm;
  }

  .apollo p1 {
    font-size: 1rem;
    top: 0;
    left: 0;
  }

  .apollo p2 {
    font-size: 1rem;
    left: 1cm;
    top: 0;
  }

  .apollo p3 {
    font-size: 1rem;
    top: 1cm;
    left: 1cm;
    width: 200%;
  }

  .stepwise {
    font-size: 1rem;
    left: 1cm;
    top: 15cm;
  }

  .stepwise p1 {
    font-size: 1rem;
  }

  .stepwise p2 {
    left: 1cm;
  }

  .stepwise p3 {
    top: 1cm;
    left: 1cm;
    width: 200%;
  }

  .subsahara {
    font-size: 1rem;
    left: 1cm;
    top: 20cm;
  }

  .subsahara p1 {
    font-size: 1rem;
  }

  .subsahara p2 {
    left: 1cm;
  }

  .subsahara p3 {
    top: 1cm;
    left: 1cm;
    width: 200%;
  }

  .journey::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.897);
    width: 90%;
    height: 110%;
    position: absolute;
    left: 1cm;
    right: 1cm;
    top: 
  }
}