.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1 rem;
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 10;
  color: black;
}
.header-bg {
    background-color: rgba(0, 0, 0, 0.82);
    transition: 0.1s;
    background-size: 50%;
}
.header-bg h1 {
    left: 50%;
}
.nav-menu {
  display: flex;
  list-style: none;
}

.nav-menu li {
  padding: 0 2rem;
  margin-right: 2 rem;
}

.nav-menu li a {
    font-size: 1.4rem;
    font-weight: 500;
}

.hambuger {
    display: none;
}

@media screen and (max-width: 500px) {
    .nav-menu {
        background-color: black;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: rgb(185, 42, 42);
        height: 200vh;
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -3;
        transition: 0.3s;
        cursor: pointer;
    }
    .header {
        width: 100%
    }
    .nav-menu.active{
        left: auto;
        right: auto;
        align-items: center;
        top: 1cm;
        position: absolute;
        height: 40vh;
    }
    .nav-menu li {
        padding: 1rem 0;
        cursor: pointer;
        align-items: center;
        margin-bottom: 20px;
        top: 2cm;
    }

    .nav-menu li a {
        font-size: 2rem;
        position:absolute;
        margin-top: 50px;
    }
    
    .hambuger {
        display: initial;
        cursor: pointer;
        position: absolute;
        right: 5%;
    }
}